<a href="https://colab.research.google.com/github/abhilashmarathe/data_science_30days/blob/main/Day1_PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Part 1: Basics**

In [1]:
# Print "Starting my 30-day Data Science Bootcamp!"

print("Starting my 30-day Data Science Bootcamp")

Starting my 30-day Data Science Bootcamp

In [3]:
# Create variables: your name, goal (string), days (int)

# 1. Your name (as a string)
your_name = "Abhilash"

# 2. Goal (as a string)
goal = "To become a successful Data Scientist."

# 3. Days (as an integer)
days = 30

print(f"Hello! My name is {your_name}. My goal is {goal}. I have {days} days a month to achieve!")

Hello! My name is Abhilash. My goal is To become a successful Data Scientist.. I have 30 days a month to achieve!

In [4]:
# Print: "My name is [your name] and my goal is to become a Data Scientist in [days] days."

print(f"My name is {your_name} and my goal is to become a Data Scientist in {days} days.")

My name is Abhilash and my goal is to become a Data Scientist in 30 days.

# **Part 2: Lists, Loops, Conditions**

In [5]:
# Create a list of 10 random integers

import random

random_integers = [random.randint(1, 100) for _ in range(10)]
print(random_integers)

[10, 14, 78, 87, 22, 18, 86, 76, 75, 8]

In [7]:
# Write a function to: Return the largest number

def largest_number(numbers):
    return max(numbers)
print(f"The largest number is {largest_number(random_integers)}")

The largest number is 87

In [8]:
# Write a function to: Return the even numbers

def even_numbers(numbers):
    return [num for num in numbers if num % 2 == 0]
print(f"The even numbers are {even_numbers(random_integers)}")

The even numbers are [10, 14, 78, 22, 18, 86, 76, 8]

In [9]:
# Write a function to: Return the sum of all numbers

def sum_of_numbers(numbers):
    return sum(numbers)
print(f"The sum of all numbers is {sum_of_numbers(random_integers)}")

The sum of all numbers is 474

In [10]:
# Write a loop that prints: "Even" if number is even "Odd" if number is odd

for num in random_integers:
    if num % 2 == 0:
        print(f"{num} is even")
    else:
        print(f"{num} is odd")

10 is even
14 is even
78 is even
87 is odd
22 is even
18 is even
86 is even
76 is even
75 is odd
8 is even

# **Part 3: Dictionary Practice**

In [11]:
# Create a dictionary of 5 students with their marks.

student_marks = {
    "Alice": 85,
    "Bob": 92,
    "Charlie": 78,
    "David": 95,
    "Emily": 88
}

print(student_marks)

{'Alice': 85, 'Bob': 92, 'Charlie': 78, 'David': 95, 'Emily': 88}

In [15]:
# Write a function that returns: The student with the highest marks and The average marks

def highest_marks_and_average(marks):
    highest_student = max(marks, key=marks.get)
    average_marks = sum(marks.values()) / len(marks)
    return highest_student, average_marks

print(f"The student with the highest marks is {highest_marks_and_average(student_marks)[0]} with {highest_marks_and_average(student_marks)[1]} marks")
print(f"The average marks of all students is {highest_marks_and_average(student_marks)[1]} with {highest_marks_and_average(student_marks)[0]} having the highest marks")

The student with the highest marks is David with 87.6 marks
The average marks of all students is 87.6 with David having the highest marks

# **Part 4: Comprehensions**

In [16]:
# Using list comprehension Create a list of squares of numbers 1–20

squares = [x**2 for x in range(1, 21)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [17]:
# Using list comprehension Create a list of only even squares

even_squares = [x**2 for x in range(1, 21) if x % 2 == 0]
print(even_squares)

[4, 16, 36, 64, 100, 144, 196, 256, 324, 400]

# **Part 5: Bonus (Optional but recommended)**

In [18]:
# Create a function factorial(n) without using math library

def factorial(n):
    if n == 0:
        return 1
    else:
        result = 1
        for i in range(1, n + 1):
            result *= i
        return result

print(factorial(5))

120

In [20]:
# Create a function is_prime(n) that checks if a number is prime

def is_prime(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

print(is_prime(17))

True